@model PetArtworksPlatform.Models.Connection

<h2>Create Connection</h2>
@if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
<br>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="followingId">Select User to Follow:</label>
        <select class="form-control" id="followingId" name="followingId" required>
            <option value="">-- Select User --</option>
            @foreach (var user in ViewBag.AvailableUsers)
            {
                <option value="@user.MemberId">@user.MemberName (ID: @user.MemberId)</option>
            }
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>